.footer {
  position: fixed;

  margin-top: 100vh;
}
.connected {
  background-color: rgb(147, 247, 247);
}

.notConected {
  background-color: rgb(212, 65, 180);
}
#ulItemsNaveBar {
  width: 100%;
  justify-content: space-between;
}
#homeLink {
  margin-right: 5vw;
}
